<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<channels>

<channel>
<name>LANÇAMENTOS</name>
<thumbnail>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/S%C3%A9ries%20lan%C3%A7amentos.png</thumbnail>
<fanart>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/fan.jpg</fanart>
<info>AQUI VOCÊ PODE ENCONTRAR NOVAS TEMPORADAS OU NOVAS SÉRIES RECÉM LANÇADAS PARA TE MANTER SEMPRE ATUALIZADO</info>
<externallink>https://raw.githubusercontent.com/boxxml/library/refs/heads/main/tvshows/lancamentos.xml</externallink>
</channel>

<channel>
<name>SUGESTÕES</name>
<thumbnail>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/S%C3%A9ries%20lan%C3%A7amentos.png</thumbnail>
<fanart>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/fan.jpg</fanart>
<info>AQUI VOCÊ PODE ENCONTRAR NOVAS TEMPORADAS OU NOVAS SÉRIES RECÉM LANÇADAS PARA TE MANTER SEMPRE ATUALIZADO</info>
<externallink>https://raw.githubusercontent.com/boxxml/library/refs/heads/main/tvshows/Sugest%C3%B5es.xml</externallink>
</channel>

<channel>
<name>CATEGORIAS</name>
<thumbnail>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/S%C3%A9ries%20T%C3%ADtulos.png</thumbnail>
<fanart>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/fan.jpg</fanart>
<info>AQUI É O LUGAR CERTO PARA VOCÊ LOCALIZAR SUAS SÉRIES, CASO NÃO ENCONTRE, VOCÊ PODE ENVIAR SUAS SUGESTÕES É VEREMOS A POSSIBILIDADE DE SER ADICIONADO</info>
<externallink>https://raw.githubusercontent.com/boxxml/library/refs/heads/main/tvshows/A-Z.xml</externallink>
</channel>

<channel>
<name>TODOS</name>
<thumbnail>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/S%C3%A9ries%20T%C3%ADtulos.png</thumbnail>
<fanart>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/fan.jpg</fanart>
<info>AQUI É O LUGAR CERTO PARA VOCÊ LOCALIZAR SUAS SÉRIES, CASO NÃO ENCONTRE, VOCÊ PODE ENVIAR SUAS SUGESTÕES É VEREMOS A POSSIBILIDADE DE SER ADICIONADO</info>
<externallink>https://raw.githubusercontent.com/boxxml/library/refs/heads/main/tvshows/A-Z.xml</externallink>
</channel>


  
</channels>
