<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<channels>


<channel>
<name>LANÇAMENTOS</name>
<thumbnail>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/lan%C3%A7amentos.png</thumbnail>
<fanart>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/fan.jpg</fanart>
<info>MELHORES LANÇAMENTOS DO ANO VOCÊ ENCONTRA AQUI COM ALTA QUALIDADE VOCÊ TAMBÉM PODE PROGRAMAR UM FILME QUE AINDA ESTÁ EM EXIBIÇÃO NO CINEMA PARA SE ADICIONADO MAIS RÁPIDO POSSÍVEL COM ALTA QUALIDADE</info>
<externallink>https://raw.githubusercontent.com/b-i-b-l-i-o-t-e-ca/x-m-l/refs/heads/main/movies/lan%C3%A7amentos.xml</externallink>
</channel>

<channel>
<name>COLETÂNEAS</name>
<thumbnail>https://github.com/anonimo2027/Biblioteca-oficial/blob/main/icon/Colet%C3%A2neas.png?raw=true</thumbnail>
<fanart>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/fan.jpg</fanart>
<info>AQUI VOCÊ PODE MARATONA AQUELA COLEÇÃO FAVORITA COM ALTA QUALIDADE E BEM ORGANIZADO PARA NÃO SE ATRAPALHAR, FIQUE À VONTADE PARA ENVIAR SUAS SUGESTÕES DE COLETÂNEA CASO NÃO ENCONTRE.</info>
<externallink>https://raw.githubusercontent.com/b-i-b-l-i-o-t-e-ca/x-m-l/refs/heads/main/movies/coletaneas.xml</externallink>
</channel>

<channel>
<name>4K ULTRA HD</name>
<thumbnail>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/Ultra%20HD.png</thumbnail>
<fanart>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/fan.jpg</fanart>
<info>ATENÇÃO PARA REPRODUZIR CONTEÚDO EM 4K SUA INTERNET PRECISA ESTAR ESTÁVEL E O DISPOSITIVO PRECISA SER COMPATÍVEL VOCÊ PRECISA TER NO MÍNIMO 50 MBPS NA HORA DA REPRODUÇÃO PARA RODAR SUAVEMENTE SEM TRAVAMENTO.</info>
<externallink>https://raw.githubusercontent.com/b-i-b-l-i-o-t-e-ca/x-m-l/refs/heads/main/movies/4k-padrao.xml</externallink>
</channel>

<channel>
<name>SUGESTÕES</name>
<thumbnail>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/Sugest%C3%B5es.png</thumbnail>
<fanart>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/fan.jpg</fanart>
<info>EM SUGESTÕES VOCÊ PODE ENCONTRAR FILMES QUE VOCÊ SOLICITOU OU FILMES QUE FORAM LANÇADOS NO FINAL DO ANO ANTERIOR MAIS QUE SAIU AGORA COM QUALIDADE 10/10</info>
<externallink>https://raw.githubusercontent.com/b-i-b-l-i-o-t-e-ca/x-m-l/refs/heads/main/movies/Sugestoes.xml</externallink>
</channel>

<channel>
<name>TRAILERS</name>
<thumbnail>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/Trailers.png</thumbnail>
<fanart>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/fan.jpg</fanart>
<info>ASSISTA A NOVOS TRAILERS DE FILMES</info>
<externallink>https://raw.githubusercontent.com/b-i-b-l-i-o-t-e-ca/x-m-l/refs/heads/main/movies/trailers.xml</externallink>
</channel>

<channel>
<name>TÍTULOS</name>
<thumbnail>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/T%C3%ADtulos.png</thumbnail>
<fanart>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/fan.jpg</fanart>
<info>AQUI É O LUGAR CERTO PARA VOCÊ LOCALIZAR TODOS OS FILMES QUE ESTÁ DISPONÍVEL NO FLIXBOX</info>
<externallink>https://raw.githubusercontent.com/b-i-b-l-i-o-t-e-ca/x-m-l/refs/heads/main/movies/todos-padrao.xml</externallink>
</channel>

<channel>
<name>TEGS</name>
<thumbnail>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/Tags.png</thumbnail>
<fanart>https://raw.githubusercontent.com/anonimo2027/Biblioteca-oficial/refs/heads/main/icon/fan.jpg</fanart>
<info>AQUI VOCÊ PODE ENCONTRAR MELHORES LISTAS DE FILMES COMO FILMES DE LUTAS, NACIONAIS, CLÁSSICOS, E MUITO MAIS.</info>
<externallink>https://raw.githubusercontent.com/b-i-b-l-i-o-t-e-ca/x-m-l/refs/heads/main/movies/playlists.xml</externallink>
</channel>
  
</channels>
